body {
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.input-box {
  display: flex;
  gap: 5px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  background: #00ff99;
  border: none;
  padding: 8px;
  cursor: pointer;
}

li {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
